<html xmlns="http://www.w3.org/1999/xhtml" class="gr__freeonlinetest_in"><style type="text/css" id="night-mode-pro-style"></style><link type="text/css" rel="stylesheet" id="night-mode-pro-link"><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<meta name="keywords" content="Freeonline test">
<link rel="stylesheet" type="text/css" href="{% static 'css/new/style.css' %}">
<link rel="icon" href="http://www.freeonlinetest.in/images/favicon.png" type="image/gif">
<script async="" src="{% static 'js/new/analytics.js' %}"></script><script src="{% static 'js/new/osd.js' %}"></script><script src="{% static 'js/new/jquery-1.8.1.min.js' %}" type="text/javascript"></script>

   <script src="{% static 'js/new/script1.js' %}"></script>
   <link rel="stylesheet" href="{% static 'css/new/nav-rs.css' %}">
   <link rel="stylesheet" href="{% static 'css/new/style.css' %}">
<style type="text/css">
.cop1 {
  width: 250px;
  height: auto;
  margin-left: 220px;
  float: left;

}
/* Social - footer
========================== */

ul.social-networks {
  overflow: hidden;
  margin: 0px 0 0 0px;
  padding: 0 0 0 0px;
  float:right;

}
ul.social-networks li {
  float: left;
  margin: 20px 1px 0;
  list-style: none;
  border: none;
}

.icon-twitter a, .icon-facebook a, .icon-pinterest a, .icon-linkedin a, .icon-flickr a, .icon-dribbble a {
  float: left;
  background: url() no-repeat left bottom;
  text-indent: 8000px;
  width: 40px;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icon-twitter a:hover, .icon-facebook a:hover, .icon-pinterest a:hover, .icon-linkedin a:hover, .icon-flickr a:hover, .icon-dribbble a:hover {
  background: url() no-repeat left top;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-facebook, .icon-facebook a {
  background-position: -120px top;
}
.icon-facebook a:hover {
  background-position: -120px bottom;
}
.icon-twitter, .icon-twitter a {
  background-position: -80px top;
}
.icon-twitter a:hover {
  background-position: -80px bottom;
}
.icon-dribbble, .icon-dribbble a {
  background-position: -40px top;
}
.icon-dribbble a:hover {
  background-position: -40px bottom;
}
.icon-linkedin, .icon-linkedin a {
  background-position: 0px top;
}
.icon-linkedin a:hover {
  background-position: 0px bottom;
}
.mrq{
width:100%;
float:left;
color:#f30;font-size:small;
}
.wd60{
width:78% !important; float:left;margin:7px 0 0 0 !important;
}

</style>
 <script type="text/javascript">
    $(function () {
      $(document).bind('contextmenu',function(e){
        e.preventDefault();

      });
    });
  </script>
{% block body %}

<div id="wrp">
  <div class="inr">
    <div class="inr">
    <div class="mrq">
<marquee scrollamount="3" behavior="alternate"><b>* *</b> Dear Users !!Online Examinnation has been updated with latest questions. Please revisit the portal for new questions.<b>* *</b></marquee></div>

      <!-- header --images>
      <div id="headar">
        <div class="logo"><a href="#"><img src="" alt="image" title=""></a></div>
   <div class="wd60">


</div>

    </div>
  </div>
  </div>
  <!-- nav -->
 <div id="nav-main" class="dspblk">
    <div id="inr">
      <div id="nav">
        <ul>
        <li><a href="/home">Home</a></li>
            <li><a href="#" class="active">Aptitude</a></li>
                    <li><a href="#">Reasoning</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">General Knowledge</a></li>
                    <li><a href="#">Banking</a></li>
                    <li><a href="#">Computer Knowledge</a></li>
                    <li><a href="#">Professional Knowledge</a></li>
                         <li><a href="#">Interview</a></li>


             <li><a href="#">Model Papers</a></li>


           </ul>
      </div>
    </div>
  </div>
  </div>
   <div id="nav-main" class="dspnn">
  <div id="inr">
  <div id="cssmenu"><div id="menu-line" style="width: 0px; left: 0px;"></div><div id="menu-button">Menu</div>
             <ul style="display: none;">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Aptitude</a></li>
    <li><a href="#">Reasoning</a></li>
    <li><a href="#">English</a></li>
    <li><a href="#">General Knowledge</a></li>
    <li><a href="#">Banking</a></li>
    <li><a href="#">Computer Knowledge</a></li>
    <li><a href="#">Professional Knowledge</a></li>
    <li><a href="#">Interview</a></li>
    <li><a href="#">Model Papers</a></li>

            </ul>
        </div>
        </div>
        </div>


    <script language="JavaScript" type="text/JavaScript"></script>
    <script type="text/javascript">
    var paperNo="jh";
    var qTimerNo =1;
    var questionTimer;
      function loading_show(){
      $('#loading').html("<img src='http://www.freeonlinetest.in/images/loading.gif'/>").fadeIn('fast');
        }
        function loading_hide()
    {
            $('#loading').fadeOut('fast');
        }

  $('#container .pagination li.q_pagin').live({click : function(){

            var page = parseInt($(this).attr('qno'));
      //alert(page);
            var qq = parseInt($('.question_dv:visible').attr('qno'));
      sam(qq,page);

        }});

</script>
    <script type="text/javascript">
$('[id^="next"]').live({
  click:function(){
    var qno =parseInt($(this).attr('qno'));
    $('#question_inc').html(qno+1);
    sam(qno,qno+1);
    }
  });
  $('[id^="prev"]').live({
  click:function(){

    var qno =parseInt($(this).attr('qno'));

    $('#question_inc').html(qno-1);
    $('#container .pagination li.q_pagin').eq(qno-1).addClass('q_skipped');
    sam(qno,qno-1);
    }
  });
  $('[id^="answec"]').live({
  click:function(){

    var qno =parseInt($(this).attr('qno'));
    $('#question_inc').html(qno);
    sam(qno,false);
    }
  });
  questionTimer = setInterval(function(){
    var tme = parseInt($('#time'+qTimerNo).val())+1;
    $('#time'+qTimerNo).val(tme)
    },998)
  function sam(qno,qnext)
  {
    var aid = 0;
    if($("input:radio[name=answec"+qno+"]:checked").length>0)
    aid = $("input:radio[name=answec"+qno+"]:checked").val();
    var qid = $('#quesoid'+qno).val();
    var caid = $('#cansid'+qno).val();
    var tme = $('#time'+qno).val();
    var llen = $('.question_dv').length;

    //alert(aid);
    if(aid!=0)
    {
     $('#container .pagination li.q_pagin').eq(qno-1).addClass('q_attempt');
    }



    if(qnext!==false)
    {
      $('.total i').html(qnext);
    qTimerNo = qnext;

    if(qnext>qno)
    {
      sam(qno,false);
        $('#container .pagination li.q_pagin').eq(qno-1).addClass('q_skipped');
        //alert(k);
        $('#question_inc').html(qno+1);
      //for(k=qno;k<qnext;k++)
  //    {
  //      sam(k,false);
  //      $('#container .pagination li.q_pagin').eq(k-1).addClass('q_skipped');
  //      //alert(k);
  //      $('#question_inc').html(k+1);
  //      }
    }
    if(qnext<qno)
    {
        sam(qno,false);
        $('#container .pagination li.q_pagin').eq(qno-1).addClass('q_skipped');
        //alert(k);
        $('#question_inc').html(qno-1);

    }

  //alert('ss');
    $('.question_dv').eq(qno-1).fadeOut(100,function(){
      $('#question_inc').html(qnext);
      $('.question_dv').eq(qnext-1).fadeIn()
    });
  }
  }



</script>
    <script type="text/javascript">
function yesnoCheck(par) {

  if($('#ifYes'+par).is(':visible'))
  {
    $('#ifYes'+par).hide();
    }else{
      $('#ifYes'+par).show();
      }
}
function yesnoCheckdes(par) {

  if($('#ifYesdes'+par).is(':visible'))
  {
    $('#ifYesdes'+par).hide();
    }else{
      $('#ifYesdes'+par).show();
      }
}
</script>

    <style type="text/css">
.common_data, .img-s,/* .pagination */{
  float: left;
  width: 100%;
}
.q_dv  {
  width: 100%;
  float: left;
}
.ans_dv{
  width: 72%;
  float: left;
}
.q_pagin {
  background-color: #000000;
}
.q_skipped {
  background-color: #FF0000;
}
.q_attempt {
  background-color: #006600;
}
.wd60{
width:100%;
float: left;

}
</style>

<form name="myForm" id="myForm" target="" action="#" method="GET">

  <input type="hidden" value="" name="answersjson" id="answersjson">
      <div id="wrp">
      <div class="inr">
    <div class="inr">
          <!-- header -->
          <div id="headar">
           <div class="mn_hd">
        <div class="q-lft-u">
                                                                                                                                                                        <div>Questions <span id="question_inc" style="color:#F00; font-weight:600;">1</span> of 20</div>
                          </div>
            <!-- <div class="time_n">
               <table border="0" width="105%">
    <tr>
          <td width="21%" align="center" valign="middle"><img src="http://www.freeonlinetest.in/images/clock.png" height="32px" width="32px" alt="image"  title="" align="middle" /></td>
          <td width="87%"  align="center" valign="middle"><span>Time left :</span> <span id="countdown" class="timer"></span>
  <script type="text/javascript" >

    var seconds =1800;
    //var seconds =1500;
    function secondPassed()
    {
      seconds--;
      //document.getElementById('r_sec').value=seconds;
      //alert(seconds);
    var minutes = parseInt(seconds/60);
    //seconds = parseInt(seconds);
    var remainingSeconds = parseInt(seconds % 60);
    //alert(remainingSeconds);
    if (remainingSeconds < 10) {
      remainingSeconds = "0" + parseInt(remainingSeconds);
    }
    //document.getElementById('r_sec1').value=seconds;
    document.getElementById('countdown').innerHTML = minutes + " mins : " + remainingSeconds+ " secs";
    if (parseInt(seconds) === 0)
    {
      //alert(seconds);
       alert("Time is over");
         clearInterval(countdownTimer);
       document.getElementById('countdown').innerHTML = "Time is Over";
       collectAnswers();
       //document.forms["myForm"].submit();

      }

      }
    var countdownTimer = window.setInterval(function(){
    secondPassed();
    }, 999);





  </script></td>
        </tr>
  </table>

            </div> -->


      </div>
     <!--  <div class="nmr">
      <ul>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li><a href="#">11</a></li>
      <li><a href="#">12</a></li>
      <li><a href="#">13</a></li>
      <li><a href="#">14</a></li>
      <li><a href="#">15</a></li>
      <li><a href="#">16</a></li>
      <li><a href="#">17</a></li>
      <li><a href="#">18</a></li>
      <li><a href="#">19</a></li>
      <li><a href="#">20</a></li>

      </ul>
      </div> -->

      </div>
        </div>
  </div>
      <!-- nav -->




      <!-- content -->
      <div class="inr">
      <!--  <div id="inr-content">-->
      <div class="inr-content" style="border:solid 1px #ccc;">
      <div class="admin">
      <div id="question">
      <div class="q-lft">
      <div class="q-lft-n">
            <div id="container">
      <input type="hidden" id="paperNo" name="paperNo" value="1">
      <input type="hidden" id="subCatName" name="subCatName" value="1">
      <input type="hidden" id="catName" name="catName" value="1">
      <input type="hidden" id="qesId" name="catName" value="">
      <input type="hidden" id="selectedans" name="selectedans" value="">
      <input type="hidden" id="fullData" name="fullData" value="">
      <input type="hidden" name="question_name" value="">


      <div style="float:left; width:100%; margin-bottom:50px">
    <input type="hidden" name="total_question" value="20"> <input type="hidden" name="question_ids[]" value="2735">
 <input type="hidden" name="correct_anss[2735]" value="2">
    <div class="question_dv" qid="2735" qno="1" style=" ">
          <div class="common_data">


{% for que in ques %}

<p><strong><span style="color: #ff0000;">Directions:</span> </strong>What should come in place of question mark (?) in the following questions?</p>
<p>&nbsp;</p>

</div>

   <div class="q_dv">
        <table>
              <tbody><tr>
            <td align="left" valign="top"><p>{{ que.id }}</p></td>
            <td align="left" valign="top" class="questionData">



        `
<p>{{ que.question }}</p>

</td>
           </tr>
            </tbody></table>
      </div>

          <div class="ans_dv">
            <input type="hidden" class="curr_ans" value="2">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec1" qno="1" id="answec1_1" value="1"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">A) </span>
      <span class="answerData">{{ que.option1 }}</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="2">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec1" qno="1" id="answec1_2" value="2"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">B) </span>
      <span class="answerData correctData">{{ que.option2 }}</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="2">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec1" qno="1" id="answec1_3" value="3"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">C) </span>
      <span class="answerData">{{ que.option3 }}</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="2">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec1" qno="1" id="answec1_4" value="4"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">D) </span>
      <span class="answerData">{{ que.option4 }}</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="2">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0"></table>
                <div class="pagination" style="width:100%;">

              <ul>
                     <li qno="17" class="inactive">
                  <input type="button" qno="{{ que.id }}" name="Prev{{ que.id }}" id="prev" value="Prev">
                </li>
                                    <li qno="{{ que.id }}" class="active">
                  <input type="button" qno="{{ que.id }}" name="Next" id="next1" value="Next">
                </li>
{#                        <li class="active">#}
{#                  <input class="vieww" type="button" id="answecheck1" qno="1" value=" View Answer" style="margin:0px 0px 0px 5px; width:100px;" onclick="yesnoCheck(1);">#}
{#                </li>#}


{#                           <li class="active">#}
{#                  <input class="vieww" type="button" id="ansdesc1" qno="1" value="View Solution" style="margin:0px 0px 0px 5px; width:100px;" onclick="yesnoCheckdes(1);">#}
{#                </li>#}
                                <li class="active">

    <input type="button" style="" id="endtest" class="endtest" name="endtest" value="End Test">

  </li>
          </ul>
{#              <div id="ifYes1" style="display:none;width:100%;">#}
{#            <div id="que-anser" style="width:94%;">#}
{#                  <h1>Correct Answer :</h1>#}
{#                  <h2>#}
{#              {{ que.answer }}             </h2>#}
{#                </div>#}
{#          </div>#}
{##}
{#                    <div id="ifYesdes1" style="display:none;width:100%;">#}
{#            <div id="que-anser" style="width:94%;">#}
{#                  <h1>Solution :</h1>#}
{#                  <h2>#}


              </h2>
                </div>
          </div>
                      </div>
      </div>
          <input type="hidden" id="quesoid1" value="2735">
          <input type="hidden" id="cansid1" value="1">
          <input type="hidden" id="time1" class="timeTaken" name="time" value="1077">
        </div>
     <input type="hidden" name="question_ids[]" value="2736">
 <input type="hidden" name="correct_anss[2736]" value="1">
    <div class="question_dv" qid="2736" qno="{{ que.id }}" style=" display:none;">
          <div class="common_data">

{% endfor %}

<p><span style="color: #ff0000;"><strong></strong></span></p>
<p>&nbsp;</p>
</div>

   <div class="q_dv">
        <table>
              <tbody><tr>
            <td align="left" valign="top"><p>17).</p></td>
            <td align="left" valign="top" class="questionData">




<p>&nbsp; 7059 – 2350 + 1936 = ? × 50</p>

</td>
          </tr>
            </tbody></table>
      </div>

          <div class="ans_dv">
            <input type="hidden" class="curr_ans" value="1">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec17" qno="17" id="answec17_1" value="1"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">A) </span>
      <span class="answerData correctData">132.9</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="1">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec17" qno="17" id="answec17_2" value="2"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">B) </span>
      <span class="answerData">132.6</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="1">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec17" qno="17" id="answec17_3" value="3"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">C) </span>
      <span class="answerData">132.3</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="1">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec17" qno="17" id="answec17_4" value="4"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">D) </span>
      <span class="answerData">134</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="1">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec17" qno="17" id="answec17_5" value="5"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">E) </span>
      <span class="answerData">None of these</span>
      </p></td>
          </tr>
            </tbody></table>
                <div class="pagination" style="width:100%;">

              <ul>
                        <li qno="17" class="inactive">
                  <input type="button" qno="17" name="Prev17" id="prev" value="Prev">
                </li>
                                    <li qno="17" class="active">
                  <input type="button" qno="17" name="Next" id="next17" value="Next">
                </li>
                        <li class="active">
                  <input class="vieww" type="button" id="answecheck17" qno="17" value=" View Answer" style="margin:0px 0px 0px 5px; width:100px;" onclick="yesnoCheck(17);">
                </li>


                           <li class="active">
                  <input class="vieww" type="button" id="ansdesc17" qno="17" value="View Solution" style="margin:0px 0px 0px 5px; width:100px;" onclick="yesnoCheckdes(17);">
                </li>
                                <li class="active">

    <input type="button" style="" id="endtest" class="endtest" name="endtest" value="End Test">

  </li>
          </ul>
              <div id="ifYes17" style="display:none;width:100%;">
            <div id="que-anser" style="width:94%;">
                  <h1>Correct Answer :</h1>
                  <h2>
                132.9              </h2>
                </div>
          </div>
           <div id="ifYesdes17" style="display:none;width:100%;">
            <div id="que-anser" style="width:94%;">
                  <h1>Solution :</h1>
                  <h2>





<p>Currently description is not available. Will update soon...</p>

              </h2>
                </div>
          </div>
                      </div>
      </div>
          <input type="hidden" id="quesoid17" value="2751">
          <input type="hidden" id="cansid17" value="1">
          <input type="hidden" id="time17" class="timeTaken" name="time" value="0">
        </div>
     <input type="hidden" name="question_ids[]" value="2753">
 <input type="hidden" name="correct_anss[2753]" value="3">
    <div class="question_dv" qid="2753" qno="18" style=" display:none;">
          <div class="common_data">




<p><span style="color: #ff0000;"><strong>SIMPLIFICATION :</strong></span></p>
<p>&nbsp;</p>

</div>

   <div class="q_dv">
        <table>
              <tbody><tr>
            <td align="left" valign="top"><p>18).</p></td>
            <td align="left" valign="top" class="questionData">




<p>&nbsp; 16% of 550 ÷ ?% of 500 = 2.5</p>

</td>
          </tr>
            </tbody></table>
      </div>

          <div class="ans_dv">
            <input type="hidden" class="curr_ans" value="3">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec18" qno="18" id="answec18_1" value="1"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">A) </span>
      <span class="answerData">5.64</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="3">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec18" qno="18" id="answec18_2" value="2"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">B) </span>
      <span class="answerData">8.11</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="3">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec18" qno="18" id="answec18_3" value="3"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">C) </span>
      <span class="answerData correctData">7.04</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="3">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec18" qno="18" id="answec18_4" value="4"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">D) </span>
      <span class="answerData">6.08</span>
      </p></td>
          </tr>
            </tbody></table>
            <input type="hidden" class="curr_ans" value="3">
        <table class="options" width="100%" border="0" cellspacing="0" cellpadding="0">

              <tbody><tr>
            <td width="4%" valign="top"><input type="radio" name="answec18" qno="18" id="answec18_5" value="5"></td>
            <td width="96%" valign="top"><p style="width:100%; margin:0px; padding:0px 0px 20px 0px; font:normal 13px Ebrima, Arial, Helvetica, sans-serif;">
            <span style="color:#00F; font-size:14px;  font-family:Embrima;">E) </span>
      <span class="answerData">None of these</span>
      </p></td>
          </tr>
            </tbody></table>
                <div class="pagination" style="width:100%;">

              <ul>
                        <li qno="18" class="inactive">
                  <input type="button" qno="18" name="Prev18" id="prev" value="Prev">
                </li>
                                    <li qno="18" class="active">
                  <input type="button" qno="18" name="Next" id="next18" value="Next">
                </li>
                        <li class="active">
                  <input class="vieww" type="button" id="answecheck18" qno="18" value=" View Answer" style="margin:0px 0px 0px 5px; width:100px;" onclick="yesnoCheck(18);">
                </li>


                           <li class="active">
                  <input class="vieww" type="button" id="ansdesc18" qno="18" value="View Solution" style="margin:0px 0px 0px 5px; width:100px;" onclick="yesnoCheckdes(18);">
                </li>
                                <li class="active">

    <input type="button" style="" id="endtest" class="endtest" name="endtest" value="End Test">

  </li>
          </ul>
              <div id="ifYes18" style="display:none;width:100%;">
            <div id="que-anser" style="width:94%;">
                  <h1>Correct Answer :</h1>
                  <h2>
                7.04              </h2>
                </div>
          </div>

                    <div id="ifYesdes18" style="display:none;width:100%;">
            <div id="que-anser" style="width:94%;">
                  <h1>Solution :</h1>
                  <h2>





<p>Currently description is not available. Will update soon...</p>

              </h2>
                </div>
          </div>
                      </div>
      </div>
          <input type="hidden" id="quesoid18" value="2753">
          <input type="hidden" id="cansid18" value="3">
          <input type="hidden" id="time18" class="timeTaken" name="time" value="0">
        </div>

        <div class="none" style="float:right; width:250px; height:auto;  margin:-40px 0 0 0; *margin:-240px 0 0 0 !important; _margin:-240px 0 0 0 !important; ">
      <table border="0" width="105%" style="margin-top:40px; border:solid 1px #C8C8C8;">
    <tbody><tr>
          <td width="21%" align="center" valign="middle"><img src="http://www.freeonlinetest.in/images/clock.png" height="32px" width="32px" alt="image" title="" align="middle"></td>
          <td width="87%" align="center" valign="middle"><span>Time left :</span> <span id="countdown" class="timer">12 mins : 02 secs</span>
  <script type="text/javascript">

    var seconds =1800;
    //var seconds =1500;
    function secondPassed()
    {
      seconds--;
      //document.getElementById('r_sec').value=seconds;
      //alert(seconds);
    var minutes = parseInt(seconds/60);
    //seconds = parseInt(seconds);
    var remainingSeconds = parseInt(seconds % 60);
    //alert(remainingSeconds);
    if (remainingSeconds < 10) {
      remainingSeconds = "0" + parseInt(remainingSeconds);
    }
    //document.getElementById('r_sec1').value=seconds;
    document.getElementById('countdown').innerHTML = minutes + " mins : " + remainingSeconds+ " secs";
    if (parseInt(seconds) === 0)
    {
      //alert(seconds);
       alert("Time is over");
         clearInterval(countdownTimer);
       document.getElementById('countdown').innerHTML = "Time is Over";
       collectAnswers();
       //document.forms["myForm"].submit();

      }

      }
    var countdownTimer = window.setInterval(function(){
    secondPassed();
    }, 999);





  </script></td>
        </tr>
  </tbody></table>



<div id="pag_num" style="margin:0px;">
      <div class="pagination">
      <ul>
          {% for que in ques  %}
      <div id="q-rht"><li qno="{{ que.id }}" style="color:#fff; list-style:none;" class="active q_pagin">{{ que.id }}</li></div>{% endfor %}
      <div class="clr"></div>
      <hr>
      <h2>
    <div style="width:15px; height:15px; background:#060; float:left; margin-right:10px;"></div>
    Attempted</h2>
      <h3>
    <div style="width:15px; height:15px; background:#000; float:left; margin-right:10px;"></div>
    Not Visited</h3>
      <h4>
    <div style="width:15px; height:15px; background:#f00; float:left; margin-right:10px;"></div>
    Not attempted or skipped</h4>
      </div>


  </div>



  <!--main div end here-->

      </div>
            </div>
      </div>
      </div>
      </div>
      </div>

      </div>
      </div>
      </div>
    </form>

<script>

  $(".endtest").show();
  $(".endtest").click(function(){
    var qq = parseInt($('.question_dv:visible').attr('qno'));
    var x= confirm("Are you sure want to submit the test?");
    if(x==true)
    {
      sam(qq,false);
      collectAnswers();
    }
  });

function collectAnswers(){
  var totalCount = 0;
  var answeredCount = 0;
  var unAnsweredCount = 0;
  var totalMarks = 0;
  var correctAnswerCount = 0;
  var questions = [];

  var result = "";
  $(".question_dv").each(function(){
    var questionObject = {};
    var question = $(this).find(".questionData").html();
    var correctAnswer = $(this).find(".curr_ans").val();
    var yourAnswer = $(this).find('input[type=radio]:checked').val();
    $(this).find('input[type=radio]:checked').parent().next().find("p span.answerData").addClass("yourAnswer");
    var correctAnswerData = $(this).find("span.correctData").html();
    var yourAnswerData = $(this).find(".yourAnswer").html();
    var timeTaken = $(this).find(".timeTaken").val();
    // framing rest of the value required.
    totalCount++;
    if(typeof yourAnswer === "undefined"){
      unAnsweredCount++;
      yourAnswerData ="";
    }

    if(yourAnswer == correctAnswer){
      correctAnswerCount++;
      questionResult = 0;
      totalMarks++;
    }else{
      if(yourAnswerData != ""){
        totalMarks = totalMarks - 0.25;
      }
      questionResult = 1;
    }
    questionObject["question"] = escape(question);
    questionObject["correctAnswer"] = escape(correctAnswer);
    questionObject["yourAnswer"] = escape(yourAnswer);
    questionObject["timeTaken"] = timeTaken;
    questionObject["correctAnswerData"] = escape(correctAnswerData);
    questionObject["yourAnswerData"] = escape(yourAnswerData);
    questionObject["questionResult"] = escape(questionResult);
    questions.push(questionObject);

    var currectAns = $(this).find(".curr_ans").val();
    var selectedAns = $(this).find('input[type=radio]:checked').val();
    var questionId = $(this).attr("qid");

    //result += "curct: " +  currectAns + " selected: " + selectedAns +" question id: "+ questionId + "; ";
  });
  answeredCount = totalCount - unAnsweredCount;
  var finalObject = {};
  finalObject["totalCount"] = totalCount;
  finalObject["answeredCount"] = answeredCount;
  finalObject["unAnsweredCount"] = unAnsweredCount;
  finalObject["correctAnswerCount"] = correctAnswerCount;
  finalObject["totalMarks"] = totalMarks;
  finalObject["questions"] = questions;


  console.log(JSON.stringify(finalObject));
  $.cookie("basket-data", JSON.stringify(finalObject));
  $("#fullData").val(JSON.stringify(finalObject));
  //console.log(JSON.stringify(finalObject));
  document.forms["myForm"].submit();
}

</script>

<script type="text/javascript">
  var auto ="";
    window.onload=function()
  {
        auto = window.setTimeout(function(){ autoRefresh(); }, 1000);

    }
   function submitform()
    {
          alert('Your Test is Over');
      var qq = parseInt($('.question_dv:visible').attr('qno'));
      sam(qq,false);
      collectAnswers();
          //document.forms["myForm"].submit();
        }
        function autoRefresh()
    {
      auto = window.setTimeout(function(){ submitform(); autoRefresh(); }, 1800000);
           clearTimeout(auto);

        }
  function funct()
  {
     var qq = parseInt($('.question_dv:visible').attr('qno'));
      sam(qq,false);
      collectAnswers();
          //document.forms["myForm"].submit();
  }
</script>
<script>
document.onkeydown = function(e) {
      // keycode for F5 function
      if (e.keyCode === 116) {
        return false;
      }
      // keycode for backspace
      if (e.keyCode === 8) {
        // try to cancel the backspace
        return false;
      }
     if (e.keyCode === 82) {
    // removes the ctrl+r (page refresh)
        return false;
      }
    };


jQuery.cookie = function(name, value, options) {
    if (typeof value != 'undefined') { // name and value given, set cookie
        options = options || {};
        if (value === null) {
            value = '';
            options = $.extend({}, options); // clone object since it's unexpected behavior if the expired property were changed
            options.expires = -1;
        }
        var expires = '';
        if (options.expires && (typeof options.expires == 'number' || options.expires.toUTCString)) {
            var date;
            if (typeof options.expires == 'number') {
                date = new Date();
                date.setTime(date.getTime() + (options.expires * 24 * 60 * 60 * 1000));
            } else {
                date = options.expires;
            }
            expires = '; expires=' + date.toUTCString(); // use expires attribute, max-age is not supported by IE
        }
        // NOTE Needed to parenthesize options.path and options.domain
        // in the following expressions, otherwise they evaluate to undefined
        // in the packed version for some reason...
        var path = options.path ? '; path=' + (options.path) : '';
        var domain = options.domain ? '; domain=' + (options.domain) : '';
        var secure = options.secure ? '; secure' : '';
        document.cookie = [name, '=', encodeURIComponent(value), expires, path, domain, secure].join('');
    } else { // only name given, get cookie
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
};

  </script>
    <!-- footer -->
<!-- footer -->
<div id="footer">
  <div class="inr">
  <div class="footer-inr-body">
    <div class="ftr">

      <div class="ftr-nav">
        <ul>
          <li><a href="http://www.freeonlinetest.in">Home</a></li>
          <li><a href="#">|</a></li>
          <li><a href="http://www.freeonlinetest.in/about-us">About&nbsp;Us</a></li>
          <li><a href="#">|</a></li>
          <li><a href="http://www.freeonlinetest.in/contact-us">Contact&nbsp;Us</a></li>
          <li><a href="#">|</a></li>
          <li><a href="http://www.freeonlinetest.in/privacy-policy">Privacy&nbsp;Policy</a></li>
        </ul>
      </div>



      <p class="mrnlft">© 2018 by free online test. All Rights Reserved | Copyright | <a href="http://www.freeonlinetest.in/disclaimer">Disclaimer</a> </p>
      <p class="cntmnt">Contact us:&nbsp; <a href="mailto:info@freeonlinetest.in">info@freeonlinetest.in</a>

    <!--  <a href="http://validator.w3.org/check?uri=referer" target="_blank" class="ft_w3c">
        <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>

    <a href="http://jigsaw.w3.org/css-validator/check/referer" class="ft_w3c1">
      <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" /></a>
--></p>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','{% static 'js/new/analytics.js' %}','ga');

  ga('create', 'UA-51085945-1', 'freeonlinetest.in');
  ga('send', 'pageview');

</script>



</div>
</div>


<div id="weava-permanent-marker" date="1532814111250"></div><div id="weava-ui-wrapper"><div class="weava-drop-area-wrapper"><div class="weava-drop-area"></div>
      <div class="weava-drop-area-text">Drop here!</div></div></div></div></div>
{% endblock %}
</html>