<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Online Examination System </title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Negotiation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
    {% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style (2).css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- //js -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!-- //font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
<style>
    .agileits_w3layouts_banner_info {
    margin: 12px;

}
    .banner {
    min-height: 200px;
}
</style>
</head>
<body>
<!-- banner -->
	<div class="w3ls-banner-info-bottom">
		<div class="container">
			<div class="banner-address">
				<div class="col-md-3 banner-address-left">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Jamshedpur</p>
				</div>
				<div class="col-md-3 banner-address-left">
					<p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:example@email.com">mail@insightinfo.com</a></p>
				</div>
				<div class="col-md-3 banner-address-left">
					<p><i class="fa fa-phone" aria-hidden="true"></i> +91 805 120 7106</p>
				</div>
					<div class="col-md-3 agile_banner_social">
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html">Insight Online Exam</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">Home</a></li>
                            	<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="icons.html">Insight Info System</a></li>
									<li><a href="typography.html">Services</a></li>
								</ul>
							</li>

							<li><a href="/portfolio.html">Courses</a></li>
                            <li><a href="contact.html">Exams</a></li>

							<li><a href="contact.html">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
						</ul>
						<div class="w3_agile_login">
							<div class="cd-main-header">
								<a class="cd-search-trigger" href="#cd-search"> <span></span></a>
								<!-- cd-header-buttons -->
							</div>
							<div id="cd-search" class="cd-search">
								<form action="#" method="post">
									<input name="Search" type="search" placeholder="Search...">
								</form>
							</div>
						</div>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			<section class="slider">
					<div class="flexslider">
						<ul class="slides">
                            	<li>
								<div class="agileits_w3layouts_banner_info">
									<h3>Online Test</h3>
									<p>Free online test to practice for Competitive exams. Aptitude, Logical Reasoning, Computer Questions will help you to prepare for Online Exam, Entrance and Interview. Learn and Practice online test for Free and Prepare for your exam online with many free tests and study materials with answers and explanation.
</p>
									<div class="agileits_w3layouts_more">
										<a href="/register" data-toggle="modal" data-target="#myModal" class="btn btn-success h-btn mar-b8 mar-h4 js-tb-signup-anchor">GET STARTED</a>
									</div>
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_banner_info">
									<h3>PRACTICE, ANALYZE AND IMPROVE. NOW ON THE GO!</h3>
									<p>
Practice thousands of questions for free while having fun! Take free quizzes, mocktests and save all your important questions for revision. Read latest exam updates and articles from experts.

This Website gives you the easiest and smoothest test-taking experience on your Laptop or Computer device.</p>
                                    <div class="agileits_w3layouts_more">
										<a href="/register" data-toggle="modal" data-target="#myModal" class="btn btn-success h-btn mar-b8 mar-h4 js-tb-signup-anchor">GET STARTED</a>
									</div>
								</div>
							</li>

							<li>
								<div class="agileits_w3layouts_banner_info">
									<h3>About Company</h3>
									<p>Insight Online Exam is an online exam and content provider. We are working as facilitator of conducting on line mock tests/examination to the Students since many year. In this short span we have won the confidence of our esteemed clients by fulfilling their expectations successfully.</p>
									<div class="agileits_w3layouts_more">
										<a href="/register" data-toggle="modal" data-target="myModal" class="btn btn-success h-btn mar-b8 mar-h4 js-tb-signup-anchor">GET STARTED</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			<!-- flexSlider -->
				<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
			<!-- //flexSlider -->
		</div>
	</div>
<!-- //banner -->	
<!-- services -->
	<div class="services">
		<div class="container">
		<h2 class="w3ls_head"><span>Wel </span>come</h2>
            <h3 class="w3ls_head"><span>Practice Best Questions, </span>for</h3>
			<div class="services-w3lsrow">
				<div class="col-md-4 services-grids top">  
					<i class="fa fa-database" aria-hidden="true"></i>
					<h4>BANK PO</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
				<div class="col-md-4 services-grids top-1">
					<i class="fa fa-group icon" aria-hidden="true"></i> 
					<h4>ISRO</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
				<div class="col-md-4 services-grids top-2">
					<i class="fa fa-cubes" aria-hidden="true"></i>
					<h4>BANK CLERK</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
				<div class="col-md-4 services-grids top-3">
					<i class="fa fa-gears icon" aria-hidden="true"></i>
					<h4>SSC</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
				<div class="col-md-4 services-grids top-4">
					<i class="fa fa-external-link" aria-hidden="true"></i>
					<h4>RRB OFFICE ASSISTANCE </h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
				<div class="col-md-4 services-grids top-5">
					<i class="fa fa-briefcase icon" aria-hidden="true"></i>
					<h4>APTITUDE</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
                <div class="col-md-4 services-grids top-3">
					<i class="fa fa-gears icon" aria-hidden="true"></i>
					<h4>GATE</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
                <div class="col-md-4 services-grids top-5">
					<i class="fa fa-briefcase icon" aria-hidden="true"></i>
					<h4>RAILWAYS</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
                <div class="col-md-4 services-grids top-3">
					<i class="fa fa-gears icon" aria-hidden="true"></i>
					<h4>DEFENCE</h4>
					<p>Practice thousands of questions created by experts & toppers, review answers with detailed solutions, track your progress with performance analysis, and master all your subjects at no cost.</p>
				</div>
				<div class="clearfix"> </div>
			</div> 			
		</div>
	</div>	
<!-- //services -->	
<!-- stats -->

<!-- //stats -->
<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!-- about-team -->

<!-- //about-team -->
<!-- testimonials -->
	<div class="col-md-6 testimonials">
		<h3 class="w3ls_head"><span>Why We are </span>Loved</h3>
		<div class="testi-w3agileinfo"> 
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab"><img src="{% static 'images/1.png' %}" alt=""/></a></li>
				<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="{% static 'images/3.png' %}" alt=""/></a></li>
				<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="{% static 'images/2.png' %}" alt=""/></a></li>
			</ul> 
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="testi">
					<h5>FILAN FISTEKU</h5>
					<p>The mock tests provided by Testbook were what helped me crack the exam. I did not refer to any other book or study material. Thanks a lot Testbook for your economical and effective test series.</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<h5>ULLAMCORPER FILAN </h5>
					<p>From self evaluation to learning time management, Insight tests helped me in every aspect of exam preparation.</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="messages"> 
					<h5>SCELERISQUE AUGUE</h5>
					<p>Constant improvement is possible only when we keep a track of our performance. Testbook's detailed analysis along with their high quality questions made me better and better with each test that I attempted.</p>
				</div>
			</div> 
		</div>
	</div>
	<div class="col-md-6 testimonials-left-w3">
	</div>
	<div class="clearfix"></div>
	<!-- //testimonials -->
<!-- news-letter -->
	<div class="news-letter">
		<div class="container">	
			<h3 class="w3ls_head"><span>Subscribe </span>Here </h3>
			<div class="agileinfo-subscribe">
				<form action="#" method="post">
					<input type="text" placeholder="Name" name="Name"  required="">
					<input type="email" placeholder="Email" name="Email"  required="">
					<input type="submit" value="Subscribe">
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	<!-- //news-letter -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agile-footer-grids">
				<div class="col-md-4 agile-footer-grid">
					<h4>Contact Us</h4>
					<p> Insight Info System Pvt Ltd <span> Online Exam </span></p>
				</div>
				<div class="col-md-4 agile-footer-grid">
					<h4>About Insigt Info</h4>
					<p>Insight Online Exam is an online exam and content provider. We are working as facilitator of conducting on line mock tests/examination to the Students since many year. In this short span we have won the confidence of our esteemed clients by fulfilling their expectations successfully.</p>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Exam Schedule</h4>
					<ul>
						<li>12th Aug <a href="#">IBPS Clerk</a></li>
						<li>10th Sept <a href="#">SSC CHSL</a></li>
						<li>24th Sept <a href="#">IBPS PO</a></li>
						<li>17th Oct <a href="#">SSC Stenographer</a></li>
						<li>09th Dec <a href="#">SSC CGL</a></li>
					</ul>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Navigation</h4>
					<ul>
						<li class="text"><a href="index.html">Home</a></li>
						<li class="text"><a href="services.html">Courses</a></li>
						<li class="text"><a href="icons.html">Exam</a></li>
						<li class="text"><a href="typography.html">CONTACT US</a></li>
						<li class="text"><a href="portfolio.html">LOGIN</a></li>
						<li class="text"><a href="contact.html">SIGN UP</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="agileits-w3layouts-copyright">
		<div class="container">
			<p>© 2018 Insight Online Exam . All rights reserved | Design by <a href="#">Amarkant Bharti</a></p>
		</div>
	</div>
	<!-- //copyright -->
	<!-- //Modal1 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<!-- Modal1 -->
		<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>Insight Online Exam</h4>
							<img src="{% static 'images/g11.jpg' %}" alt=" " class="img-responsive">
							<h5>We know what you love</h5>
							<p>Hello </p>
					</div>
				</div>
		</div>
	</div>
<!-- //Modal1 -->

<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>